.cs{
    padding: 100px 0;
    background-color: #f8f8f8;
}
.cs-list{
    width: 100%;
    display: flex;
    gap: 6px;
    justify-content: center;
}
.cs-list li{
    width: 50%;
    padding: 40px 56px;
    background-color: #fff;
}
.faq{
    display: flex;
    justify-content: space-between;
}
.faq h3{
    font-size: 30px;
    margin-bottom: 15px;
    color: #000;
}
.faq p{
    font-size: 15px;
}