/* 폰트 적용 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Orbitron:wght@400..900&family=Poiret+One&display=swap');
/* css연결 링크 */
@import url("header.css");
@import url("visual.css");
@import url("business.css");
@import url("news.css");
@import url("cs.css");
@import url("about.css");
@import url("footer.css");
/* css 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    /* display: block; */
}
body{
    font-family: "Noto Sans Kr" , sans-serif;
}
/* 공통 영역 */
.inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #a18989; */
}
.wrap{
    position: relative;
}