/* modal */
.modal-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.modal-box{
    width: 500px;
    padding:120px 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
}
.modal-logo{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 6px solid #eee;
    background: url(../img/person.png) no-repeat center #fff;
}
.modalNotice{
    line-height: 1.7;
}
.modalNotice strong{
    color: #f00;
    background: linear-gradient(to top , rgb(255,210,210) 50% , transparent 50%);
}
.modalNotice span{
    font-size: 14px;
    font-weight: 300;
}
.modalClose i{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
/* 퀵 메뉴 */
.quick{
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}
#chat span{
    position: absolute;
    top: 34px;
    left: -180px;
    padding: 8px 15px;
    border-radius: 23px;
    text-align: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
#chat:hover span{
    opacity: 1;
    visibility: visible;
}
.chat-btn{
    animation: updown 1.5s infinite;
}
@keyframes updown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}
#shop{
    width: 55px;
    line-height: 55px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
#gotop{
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    background-color: #ed1c24;
    text-align: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bold;
    display: none;
}