.visual{
    position: relative;
    width: 100%;
    height: 910px;
    background: url(../img/img_visual01.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.visual-inner{
    position: relative;
    padding-top: 245px;
}
.visual-slogan{
    font-size: 70px;
    line-height: 1.1;
    color: #fff;
}
.visual-slogan::after{
    content: "";
    position: absolute;
    left: 0px;
    top: 200px;
    width: 60px;
    height: 5px;
    background-color: #ed1c24;
}
.visual-txt{
    font-size: 21px;
    margin-top: 42px;
    color: #fff;
}
.visual-btn{
    /* 기본 버튼의 스타일을 초기화(테두리, 배경색, 클릭 x... */
    all: unset;
    width: 33px;
    height: 33px;
    background: url(../img/bg_common.png) no-repeat;
    background-position: -122px 0px;
    font-size: 0px;
    position: absolute;
    bottom: -430px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 30px;
}